<h1 class="text-success text-center">Live angular diretivas</h1>

<!-- Diretivas de Atributo -->
<div [ngStyle]='{background: contador < 5 ? "red" : "green"}'
    [ngClass] ='{custom:contador > 5}'
><!-- mudar a cor do elemento com um if ternario e o nhStyle/ngClass-->
  <h2 class = "text-center">Contador: {{ contador }}</h2>
</div>

<!-- Diretivas de Estrutura -->
<h2 *ngIf="contador > 5; else menor" class="text-center">O contador passou de 5!</h2>
<ng-template   #menor>
  <h2 class="text-center">O contador é menor que 5!</h2>
</ng-template>

<ul [ngSwitch]="contador" class="list-group mx-auto col-6">
  <li 
    class="list-group-item"
    *ngSwitchCase = '3'
  >É igual a 3</li>
  <li 
    class="list-group-item"
    *ngSwitchCase = '5'
  >É igual a 5</li>
  <li 
    class="list-group-item"
    *ngSwitchCase = '8'
  >É igual a 8</li>
  <li 
    class="list-group-item"
    *ngSwitchCase = '10'
  >É igual a 10</li>
  <li 
    class="list-group-item"
    *ngSwitchDefault
  >Esse é o Default</li>
</ul>

<app-lista-pessoas [lista]="pessoas"></app-lista-pessoas>


<div class="col-6 mx-auto my-3"> 
  <h1 appMarcaTexto corDeFundo="blue" corDoTexto="red">{{nome}}</h1>
  <button class="btn btn-success" (click)="clicou('Mateus')" >Clique</button>
</div>

<div class="col-6 mx-auto">
  <input 
  type="text" class="form-control" 
  placeholder="Digite alguma coisa"
  [(ngModel)]="text">
  <h4>Saida: {{text}}</h4>
</div>

<div class="container my-5">
  <div class="row d-flex align-items-center justify-content-center">
    <h2 class="text-center">Lista de persoanagens Rick and Morty</h2>
    <div class="col-12">
      <app-lista-api></app-lista-api>
    </div>
  </div>
</div>

